html,
body {
    margin: 0;
    padding: 0;
}
* {
    box-sizing: border-box;
}

body::-webkit-scrollbar {
    width: 0.5rem;
}

body::-webkit-scrollbar-track {
    background: #4c5e79;
}

body::-webkit-scrollbar-thumb {
    border-radius: 50px;
    background: #24cae5;
}

@tailwind base;
@tailwind components;

h1 {
    @apply text-4xl lg:text-2xl font-bold;
}

h2 {
    @apply text-xl lg:text-4xl font-bold;
}

h4 {
    @apply text-2xl lg:text-4xl font-bold;
}

body {
    @apply font-mainfont;
}

@tailwind utilities;
